.modalBody {
  display: flex;
  flex-direction: column;
}
.inputStyle {
  /* height: min(150px, 10vh); */
  /* max-width: 200px; */
  width: 90%;
  min-width: 40px;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  align-self: center;
}
.textArea {
  min-height: 30vh;
}
.close {
  cursor: pointer;
}
